//-
  Created by YinHaoran
  Date: 2017/12/21.

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="renderer", content="webkit")
    title boys

    //- CSS 引入.
    each css in htmlWebpackPlugin.files.css
      link(href="#{css}", rel="stylesheet")

  body
    div#app
      app

    //- JS 引入.
    div
      each chunk in htmlWebpackPlugin.files.chunks
        script(src="#{chunk.entry}")
