// normalize
html, body, div, a, span, p, ul, li, img, button, input, h1
  padding 0
  margin 0

img, button, input
  border none
  outline none

a
  text-decoration none
  color inherit

ul, li
  list-style none

// custom style
